body {
    background-color: antiquewhite
}

.centerer {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    
}

i {
    color: white;
    width: 100%; 
    flex-grow: 1;
}

img {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 15px;
}

iframe {
    width: 90%;
    height: 70%;
    border: 0px;
    border-radius: 30px;
    pointer-events: none;
}

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 45vw;
}

.thumbnail-content {
    
    width: 50%;
    height: 50%;
    padding: 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.pomodoro-modal {

    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 100%;   

    background: url('Assets/pomodoro.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.pomodoro-modal-content {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
    padding: 20px;
    border: 0px;
    border-radius: 40px;
    box-shadow: 0px 2px 100px 0px rgba(114, 113, 113, 0.75);
    padding: 5px;
    background-color: tan;
    width: 80vw;
    height: 80vw;
    animation-name: slide-down-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pomodoro-button-container {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;

    background-color: blanchedalmond;
    border: 0px;
    border-radius: 20px;

    width: 90%;
    height: 20%;
}

.pomodoro-button {
    background-color: salmon;
    border: 0px;
    border-radius: 15px;
    width: 45%;
    margin: 2.5px;

}

.lofi-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px;
    border-radius: 40px;
    padding: 5px;
    background-color: tan;
    width: 80vw;
    height: 85vw;
    max-height: 85vw;
}

.lofi-button-container {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;

    background-color: blanchedalmond;
    border: 0px;
    border-radius: 25px;

    width: 90%;
    height: 20%;

}

.lofi-button {
    background-color: salmon;
    border: 0px;
    border-radius: 20px;
    width: 30%;
    margin: 2.5px;

}


.my-jazz {
    position: absolute;
    bottom: 10%;
    left: 30%;
    width: 20%;
    height: 10%;
}

.my-jazz-two {
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 20%;
    height: 10%;
}




.song-centerer {
    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 50%;   
}

.song-frame {
    display: flex;
    position: absolute;
    top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 0px;
    border-radius: 20px;
    padding: 2px;
    background-color: tan;
    width: 90vw;
    height: 80vw;
    animation-name: slide-down-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

.song-button-container {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;

    background-color: blanchedalmond;
    border: 0px;
    border-radius: 25px;

    width: 90%;
    height: 20%;

}

.song-button {
    background-color: salmon;
    border: 0px;
    border-radius: 20px;
    width: 50%;
    margin: 5px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 10px;

}

.welcome-text {
    align-items: center;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -300px;
    display: flex;
    animation-name: fly-in;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes fly-in {
    from {left: -300px}
    to {left: 0px;}
}

.phrase {
    align-items: center;
    width: 70%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0px;
    display: flex;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}


.add-song-button {
    background-color: brown; 
    width: 10%;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
}

.menu-bar {
    background-color: brown;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80vw;
    position: absolute;
    left: -2vw;
}


li {
    list-style-type: none;
    flex-grow: 1;
    background-color: salmon;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
   
 
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-button {
    background-color: salmon;
    width: 15%;
    position: relative;
    left: 2px;
}

span {
    text-align: center;
    font-size: 30px;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;;
    background-color: salmon;
    border: 0px;
    border-radius: 15px;
    padding: 15px;
}

input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    height: 20%;
    box-sizing: border-box;
    flex-grow: 1;
}

.create-album-button {
    border: 2px solid grey; 
    background-color: transparent;
    width: 10%;
    height: 20%;
    padding: 0px;
}

select {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: 45%;
    height: 20%;
    box-sizing: border-box;
}

/*we can think of modal as being the centerer for modal-content*/
.song-modal {

    display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 100%;   
    background-color: rgba(0, 0, 0, 0.10)
    
}



.song-modal-content {
    position: relative;
    top: -300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 100px 0px rgba(114, 113, 113, 0.75);
    padding: 15px;
    background-color:blanchedalmond;
    width: 70%;
    height: 30%;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.song-list-centerer {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;   
    background-color: antiquewhite;
}

.song-list {
    align-items: center;
}



.exit-page-button {
    background-color: salmon;
    border: 0px;
    border-radius: 30px;
    width: 15vw;
    height: 15vw;
    position: absolute;
    bottom: 20px;
    left: 10px;
    
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: lightcoral; 
    text-align: center;
    width: 100%;
    position: absolute;
    top: -40vh;
    animation-name: slide-down-3;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;

}

@keyframes slide-down {
    from {top: -300px}
    to {top: 120px}
}

@keyframes slide-down-2 {
    from {top: -300px}
    to {top: 20px}
}

@keyframes slide-down-3 {
    from {top: -40vh;}
    to {top: 30vh;}
}

